<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="UserSession" class="cz.fi.muni.pa165.teamred.config.UserSession"/>

    <bean id="ProtectFilter" class="cz.fi.muni.pa165.teamred.security.ProtectFilter">
        <property name="filter" ref="UserSession"/>
        <property name="enabled" value="true" />
    </bean>

</beans>